@import './variants.css';

@layer components {
  .valid {
    color: black;

    &:variant(singlepseudoclass) {
      color: red;
    }

    &:variant(singlepseudoelement) {
      color: pink;
    }
  }
}
